.heading {
    // margin-bottom: 0;
    min-height: 40vh;
    align-items: center;
    display: flex; //d-flex goes hand in hand with align-items unless component already is flex
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat fixed center center;
    h1 {
        font-family: 'Staatliches';
        font-size: 3rem;
        letter-spacing: .2rem;
    }
    p {
        font-family: 'Lato';
        font-size: 1.25rem;
        letter-spacing: 1px;
    }
}

a:hover {
    text-decoration: none;
}

.button {
    font-family: "Lato";
    letter-spacing: 2px;
}

.card {
    color: #000;
    font-family: "Lato";
    .card-text {
        font-weight: bold;
        letter-spacing: 1.5px;
        font-size: 1.3rem;
    }
}